<html>
<head>
  <title></title>
</head>
<body>
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"><h1>Task assigned to you</h1></div>
    </div>
    <div class="row">
      <!-- Team List Select-->
      <div class="col-md-12 container-fluid">
        <div class="contained">

          <table class="table table-hover container-fluid">
            <thead>
            <tr>
              <th>Id</th>
              <th>Desc</th>
              <th>priority</th>
              <th>Status</th>
              <th>projectid</th>
            </tr>
            </thead>
            <tbody >
            <tr *ngFor="let b of bugs" >
              <td>{{b.bugId}}</td>
              <td>{{b.bugDesc}}</td>
              <td>{{b.bugPriority}}</td>
              <td>{{b.bugStatus}}</td>
              <td>{{b.projectId}}</td>
              <td>
                <button class="btn btn-group btn-info" (click)="updateBug(b.bugId)">
                  update status
                </button>

              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
      </div>
    </div>

  </div>
</div>
</body>
</html>
