<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Untitled</title>

</head>

<body>
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card container-fluid align-items-center">
          <div class="card-body">
            <h4 class="card-title">{{this.name}}</h4>
            <h6 class="text-muted card-subtitle mb-2">{{this.status}}</h6>
            <p class="card-text">{{this.status}}</p><a class="card-link" href="#">Link</a><a class="card-link" href="#">Link</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Column 1</th>
              <th>Column 2</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Cell 1</td>
              <td>Cell 2</td>
            </tr>
            <tr>
              <td>Cell 3</td>
              <td>Cell 4</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Column 1</th>
              <th>Column 2</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Cell 1</td>
              <td>Cell 2</td>
            </tr>
            <tr>
              <td>Cell 3</td>
              <td>Cell 4</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>

            </tr>
            </thead>
            <tbody>
            <tr>
              <app-create-team></app-create-team>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>
